body {
  background: #333;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}
hr {
	border: 0;
	border-top: 1px solid;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.tabs .tabsLabel {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  background:  #ff8c00;
  font-weight: bold;
  transition: background ease 0.2s;
  flex: 1;
  text-align: center;
  opacity: 0.8;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
  opacity: 1;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.form-control {
    height: 2rem;
	border:none;
    margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

.form-control:focus
{
	border-color: #0074D9;
	box-shadow: none;
	outline: none;
}

#siBoxesDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.siBoxRow {
    display: flex;
    direction: rtl;
    justify-content: space-around;
    gap: 1rem;
    flex: 1;
}

.siBoxDetailsContainer {
    flex-grow: 1;
    gap: 1rem;
    display: flex;
}

.boxIconContainerDiv {
    align-items: center;
    display: flex;
    color: #0074D9;
    border-left: solid #0074D9;
    padding-left: 0.5rem;
}

.btn-remove {
    cursor: pointer;
    align-items: center;
    display: flex;
    color:red;
    flex-grow: 0;
}

.underline {
	position: relative;
    color: #0074D9;
    cursor: pointer;
}  

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ff8c00;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}


#newBoxButtonContainerDiv {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    direction: rtl;
}

input[type="file"] {
    opacity: 0;
    z-index: 0;
    position: absolute;
}

.file-upload-btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}

.file-upload-label {
    float: left;
    clear: both;
    width: 70%;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.file-upload-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-upload-label:hover {
    border-color: #454cad;
}

.button {
  display: inline-block;
  border-radius: 1rem;
  background-color: #23c186;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  width: 13rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.25rem;
  font-weight: bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.uploadMsg {
  margin:0;
  direction: rtl;
}

.error-msg {
  display: none;
  color: red;
}

@media (max-width: 45em) {
  body {
      padding-top: 0 !important;
  }
  .siBoxDetailsContainer {
    display: flex;
    flex-direction: column;
    }
}