<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orienteering Event Manager Helper</title>
</head>
<body>
    <form method="post" action="/api/competition/generate-preperation-files" enctype="multipart/form-data">
        <input type="button" id="more_si_boxes" onclick="add_fields();" value="Add SI Box" />
    
        <div id="si_boxes_details">
             <div class='label'>SI Boxes:</div>
             <div id="content">
                 <span>First SI Card number: <input type="text" style="width:60px;" name="rangeStart[]" value="" /></span>
                 <span>Last SI Card number: <input type="text" style="width:60px;" name="rangeEnd[]" value="" /></span>
                 <span>Missing SI Card Numbers: <input type="text" style="width:60px;" name="missingCards[]" value="" /></span>
             </div>
         </div>
        <div>
          <label for="file3">Select ISOA start list files (csv + xlsx)</label>
          <input type="file" id="file3" name="startlists" multiple>
          {% if platform == "mulka" %}
          <input type="hidden" id="platform" name="platform" value="mulka">
          {% endif %}
          {% if platform == "si-droid" %}
          <input type="hidden" id="platform" name="platform" value="si-droid">
          {% endif %}
        </div>
        <div>
          <button>Generate Competition Files</button>
        </div>
    </form>
    <form method="post" action="/api/competition/generate-isoa-results-file" enctype="multipart/form-data">
        <div>
          {% if platform == "mulka" %}
          <label for="file">Select Mulka Results File (CSV)</label>
          {% endif %}
          {% if platform == "si-droid" %}
          <label for="file">Select SI Droid Results File (XML)</label>
          {% endif %}
          <input type="file" id="file" name="resultsFile">
          {% if platform == "mulka" %}
          <input type="hidden" id="platform" name="platform" value="mulka">
          {% endif %}
          {% if platform == "si-droid" %}
          <input type="hidden" id="platform" name="platform" value="si-droid">
          {% endif %}
        </div>
        <div>       
          <button>Generate Results file</button>
        </div>
    </form>
    <script>
      function add_fields() {
        var d = document.getElementById("content");
  
        d.innerHTML += "<br /><span>First SI Card number: <input type='text' style='width:60px;' name='rangeStart[]' value='' /></span><span> Last SI Card number: <input type='text' style='width:60px' name='rangeEnd[]' value='' /></span><span> Missing SI Card Numbers: <input type='text' style='width:60px;' name='missingCards[]' value='' /></span>";
      }
    </script>
</body>
</html>