<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orienteering Event Manager Helper</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="icon" sizes="192x192" href="/static/favicon.ico" />
</head>

<body>
    <div class="wrap">
        <div class="header">
            <h3>בחר כלי לניהול אירוע</h3>
        </div>
        <div class="container">
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>SI Droid</h3>
                  <p>אפליקציה לאנדרואיד המאפשרת ניהול תחרות קטנה בקלות</p>
                  <a href="/form?platform=si-droid">בחר</a>
                  <a href="http://www.joja.se">מידע נוסף</a>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Mulka</h3>
                  <p>תוכנה יפנית לניהול תחרויות ניווט ומדידת זמנים אלקטרונית</p>
                  <a href="/form?platform=mulka" class="underline">בחר</a>
                  <a href="https://mulka2.com/mulka2/en/index.php/Mulka2" class="underline">מידע נוסף</a>
                </div>
              </div>
            </div>
          </div>
    </div>    
</body>

</html>