<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orienteering Event Manager Helper</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <h1>בחר כלי לניהול אירוע</h1>
        </div>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/si_droid_icon.png">
                        <h3>SI Droid</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>אפליקציה לאנדרואיד המאפשרת ניהול תחרות קטנה בקלות</p>
                        <div class="toolOptionsContainer">
                            <a href="/form?platform=si-droid" class="underline">בחר</a>
                            <a href="http://www.joja.se" class="underline">מידע נוסף</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/mulka2_logo.jpg">
                        <h3>Mulka2</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>תוכנה יפנית לניהול תחרויות ניווט ומדידת זמנים אלקטרונית</p>
                        <div class="toolOptionsContainer">
                            <a href="/form?platform=mulka" class="underline">בחר</a>
                            <a href="https://mulka2.com/mulka2/en/index.php/Mulka2" class="underline">מידע נוסף</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/o_event_logo.gif">
                        <h3>OEvent</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>התוכנה הרשמית של האיגוד - האיגוד משתמש בה לניהול תחרויות הליגה</p>
                        <div class="toolOptionsContainer">
                            <a href="#" class="underline">בחר</a>
                            <a href="http://www.oevent.org/" class="underline">מידע נוסף</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>

</html>